*{
    font-family: Arial;
  }

  body{
    background-color: #191A19;
  }
  
  ul{
    display: none;
  }
  
  input:checked  ~ ul{
    display:block;
  }
  
  input {
    display: none;
  }
  
  label {
    box-sizing: border-box;
    display: inline-block;
    border: 0px;
    border-radius: 5px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-weight: bold;
    text-align: center;
    user-select: none;
    color: goldenrod;
  }
  
  label{
    background-color: #1E5128;
  }

  /* Estilo del boton cuando se pasa el mouse por encima*/
  label:hover{
    background: #1E5128;
  }
  
  /* Estilo del boton cuando el menú está expandido*/
  input:checked ~ label {
    background: #1E5128; 
  }
  
  ul {
    margin-top:0;
    padding: 0;
    width: 100px;
  }
  
  li {
    display: block;
    background: #1E5128;
    margin: 3px;
    padding: 5px;
    list-style: none;
    border: 2px solid goldenrod;
    border-radius: 15px;
    text-align: center;
    font-weight: bold;
    color: goldenrod;
  }
  
  /*Estilo cuando el mouse pasa encima de cada link del menu*/
  li:hover {
    filter: brightness(110%);
  }